/shelf/
# Default ignored files
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!.idea/runConfigurations

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Eclipse ###
ssp-game-api.eml
ssp-game-api.userlibraries

### Maven ###
.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.mvnw
.mvn/

application-local.properties
LOG_PATH_IS_UNDEFINED/
src/main/resources/schemas
src/main/resources/application-local.properties
src/main/resources/application-local.yml
src/main/resources/application-local.yaml